@{
    ViewBag.Title = "Home Page";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<body>

    <div>

        <ul>
            <li><a href="../../Test/Index">TestController</a></li>




        </ul>



    </div>


</body>
