#divDDL
{
    margin-top:-10px;
    margin-left:140px;
    width:1200px;
    height:25px;
    }
#lbl
{
    font-family: Lucida Grande, Lucida Sans, Arial, sans-serif; 
    font-size: 25px;
    font-weight: bold;
    color:Menu;
    margin-left:20px;
    }

#lblrol
{
    font-family: Lucida Grande, Lucida Sans, Arial, sans-serif; 
    margin-left:-120px;
    }

#comboRoles
{
    color:White;
    background-color:#5c9ccc;
    border-color:#5c9ccc; 
    font-family: Lucida Grande, Lucida Sans, Arial, sans-serif; 
    font-size: 12px;
    font-weight: bold;
    border-radius: 4px; 
    margin-left:20px;
    margin-top:-22px;
    text-align:center;
    }

button
{
    width:100px;
    text-align:center;
    margin-left:50px;
    color:White;
    background-color:#5c9ccc;
    border-color:#5c9ccc;/*
    border-width:thin;  */
    font-family: Lucida Grande, Lucida Sans, Arial, sans-serif; 
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px; 
    margin-top:-80px;
    }  
    
#printBtn
    {
        margin-left: 540px;
        }
.ui-jqgrid
{
    float:left;
    margin-left:5px;
    position:static;
    top: 0;
            
}
 
.ui-paging-info
{
    display:none;
    }
        
#grid-container
{
    min-width:800px;
    width:1000px;
    margin-left:auto;
    margin-right:auto;
    margin-top:100px;    
    background: url(../../../../Images/sub.png); 
    opacity: .900;
    border-radius: 20px;
    height:500px;
    
}

.level_1
{
    padding-left:20px !important;
}
.level_2
{
    padding-left:50px !important;
}
.level_3
{
    padding-left:80px !important;
}
.level_4
{
    padding-left:110px !important;
}
.level_undefined
{
    padding-left:5px !important;
}